---
// src/pages/index.astro
import Services from "@/components/Services.astro";
import "../styles/globals.css";

import Projects from "@/components/Projects.astro";
import About from "@/components/About.astro";
import NewsLetter from "@/components/NewsLetter.astro";
import Contact from "@/components/Contact.astro";
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/Home.astro";
---

<Layout
  title="Marcial Fantini - Web Developer & Programmer in the USA | Custom Software Solutions"
>
  <bodys
    class="flex flex-col min-h-screen bg-gradient-to-br from-black via-neutral-900 to-neutral-800 text-white relative"
  >
    <main class="flex-1">
      <Home />
      <Services />
      <!-- <Projects /> -->
      <About />
      <NewsLetter />
      <Contact />
    </main>

    <script>
      // Add any client-side JavaScript here
    </script>
  </bodys>
</Layout>
