---
const services = [
  "High-Impact Website Creation",
  "Website Aesthetic Enhancement",
  "Custom Functionalities Development",
];
---

<section id="services" class="py-12 md:py-24 lg:py-32 relative">
  <div class="container mx-auto px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8"
    >
      Services to Elevate Your Online Presence
    </h2>
    <p class="mt-4 mb-8 text-neutral-300 text-center max-w-2xl mx-auto">
      Empowering businesses and professionals to establish a sophisticated and
      effective digital footprint.
    </p>
    <div class="grid gap-6 lg:grid-cols-3">
      {
        services.map((service) => (
          <div class="flex flex-col bg-neutral-800 bg-opacity-30 border border-neutral-700 backdrop-filter backdrop-blur-sm relative overflow-hidden rounded-lg p-6">
            <h3 class="text-2xl font-bold text-yellow-500 mb-2">{service}</h3>
            <p class="text-neutral-300 mb-4">
              Transforming your vision, I craft digital experiences that engage
              and retain your audience.
            </p>
            <button class="mt-auto w-full bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded transition duration-300">
              Learn More
            </button>
          </div>
        ))
      }
    </div>
    <!-- <div class="mt-12 text-center">
      <button
        class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-3 px-6 rounded-md text-lg transition duration-300"
        >Explore All Services</button
      >
    </div> -->
  </div>
</section>
