---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import "../styles/globals.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Marcial Fantini, web developer and programmer specializing in custom software for small and medium-sized businesses in the USA. I offer high-quality solutions at competitive prices for founders, CEOs, and startups."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="web developer, programmer, custom software, tailored solutions, software for startups, web development USA, software for businesses, affordable web development, web development for CEOs, freelance programmer"
    />
    <meta name="author" content="Marcial Fantini" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Astro" />
    <title>{title}</title>
  </head>
  <body
    class="min-h-[100vh] flex flex-col bg-gradient-to-br from-black via-neutral-900 to-neutral-800 text-white relative"
  >
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
